@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

.container-pos {
  height: 100vh;
  overflow: hidden;
}

.product-section {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.cart-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.product-card {
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #f8f9fa;
  height: 100%;
}

.product-card .product-img img {
  height: 120px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.301);
}

.category-btn {
  margin: 5px;
  border-radius: 25px;
  padding: 8px 20px;
}

.search-box {
  border-radius: 25px;
  padding: 8px 20px;
  border: 2px solid #dee2e6;
}

.card-header {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border: 1px solid white;
  padding: 20px;
}

.card-items {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.card-footer {
  background-color: white;
  padding: 20px;
  border-top: 2px solid rgb(149, 143, 143);
}

.total-section {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn-checkout {
  border: none;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}